.footer {
    background-color: var(--dark-bg);
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer__fullcontacts {
    font-style: inherit;
    margin-top: 20px;
}
.footer-conteiner {
    text-align: center;

    @include mq(desktop) {
        display: flex;
        text-align: left;
    }
}
.footer__address,
.footer__mail,
.footer__tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.footer__address {
    color: var(--primary-dark-text);
}
.footer__mail,
.footer__tel {
    color: rgba(255, 255, 255, 0.6);
}
.footer__list {
    margin-bottom: 60px;
}
.footer__mail:hover,
.footer__tel:hover,
.footer__mail:focus,
.footer__tel:focus {
   color: var(--akcent-color-text);
  cursor: pointer;
}

@include mq(tablet) {
    .footer__cardsonetlinks {
        display: flex;
        justify-content: center;
    }
    .footer__card {
        margin-right: 165px;
    }
}
@include mq(desktop) {
    .footer__card {
        margin-right: 70px;
    }
}
    


// .footer__list,
// .footer__contacts:last-child {
//     margin-top: 9px;
// }
// .footer__mail,
// .footer__tel {
//     display: inline-block;
//     line-height: 1.71;
//     color: rgba(255, 255, 255, 0.6);
//     text-decoration: none;
//     transition: color var(--animation-function);
// }
// 
// .footer-conteiner {
//     display: flex;
//     align-items: baseline;
// }