
.footer__form {
    width: 100%;

    @include mq(desktop) {
        display: flex;
    }
}
.footer__title {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-dark-text);
}
.footer__input {
    margin-bottom: 20px;
    padding: 15px 16px;
    width: 100%;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    color: var(--primary-dark-text);
    &:hover,
    &:focus {
        border-color: var(--akcent-color-text);
        cursor: pointer;
    }

    @include mq(tablet-only) {
    width: 450px;
    display: block;
    margin-right: auto;
    margin-left: auto;
    }

    @include mq(desktop) {
        width: 358px;
    }
}
.footer__input::placeholder {
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
}

@include mq(desktop) {
    .footer__formblock {
        margin-left: auto;
    }
}
