.modal__form {
    padding: 40px;
}
.modal__title {
    margin-bottom: 12px;
    display: inline-block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--primary-light-text);
}
.modal__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.modal__input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--animation-function);
    &:focus,
    &:hover {
        border: 1px solid #2196F3;
        cursor: pointer;
    }
}
.modal__textarea {
    width: 100%;
    height: 120px;
    resize: none;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: border-color var(--animation-function);
    &:focus,
    &:hover {
        border-color: var(--akcent-color-text);
        cursor: pointer;
    }
}
.modal__comment {
    margin-bottom: 20px;
}
.modal__formbtn {
    display: inline-block;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 50px;
    background-color: #188ce8;
    color: var(--primary-dark-text);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    transition: background-color var(--animation-function);
    &:focus,
    &:hover {
        background-color: #188ce8;
        cursor: pointer;
    }
}
.input__wrapper {
    position: relative;
}
.modal__icon {
    position: absolute;
    top: 0;
    left: 15px;
    transform: translateY(50%);
    display: inline-block;
    fill: var(--primary-light-text);
}
.modal__input:focus+.modal__icon,
.modal__input:hover+.modal__icon {
    background-color: var(--primary-dark-text);
    fill: var(--akcent-color-text);
}
.checkbox {
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 0;
}
.checkbox__label {
    padding-left: 23px;
    line-height: 1.71;
    color: #757575;
}
.icon__check {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    opacity: 1;
}
.checkbox__icon {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    opacity: 0;
}
.checkbox__input:checked~.icon__check {
    opacity: 0;
}
.checkbox__input:checked~.checkbox__icon {
    opacity: 1;
}