 .clients {
   padding-top: 60px;
   padding-bottom: 60px;

   @include mq(desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
   }
}
.clients__title {
    font-family: $main-font;
    margin-bottom: 30px;
 }
 .clients__list {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;

    @include mq(desktop) {
        flex-wrap: nowrap;
    }
}
 .clients__it {
    display: flex;
    margin-right: 30px;
    margin-bottom: 30px;
    
    @include mq(mobile-only) {
        &:nth-child(2n) {
            margin-right: 0px;
        }
        &:nth-child(n+5) {
            margin-bottom: 0px;
        }
    }
    
    @include mq(tablet-only) {
        &:nth-child(3n+3) {
            margin-right: 0px;
        }
        &:nth-child(n+4) {
            margin-bottom: 0px;
        }
    }

    @include mq(desktop) {
        margin-bottom: 0px;
    
        &:nth-last-child(1) {
            margin-right: 0px;
        }
    }
}

.clients__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    transition: border-color var(--animation-function);
&:hover {
 border-color: #2196f3;
& .clients__logo {
fill: var(--akcent-color-text);
}
}
}
.clients__logo {
fill: #afb1b8;
transition: fill var(--animation-function);
}

