.header__link,
.header__mail,
.header__tel {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.header__contacts {
    display: flex;
    margin-left: auto;
    padding-left: 0;
}
.contacts__link:last-child {
    margin-left: 30px;
}
.header__mail,
.header__tel {
    display: flex;
    align-items: center;
    color: var(--secondary-light-text);
    transition: color var(--animation-function);
}
.header__mail:hover,
.header__tel:focus,
.header__mail:focus,
.header__tel:hover {
    color: var(--akcent-color-text);
    cursor: pointer;
}
.header__mail:hover .header__icon,
.header__tel:hover .header__icon {
    fill: var(--akcent-color-text);
}
.header__icon {
    margin-right: 10px;
    fill: var(--secondary-light-text);
    transition: fill var(--animation-function);
    &:hover,
    &:focus {
        fill: var(--akcent-color-text);
        cursor: pointer;
    }
}