.team {
    padding: 94px 0px 94px 0px;
    background-color: var(--primary-grey-bg);
}
.team__title {
    margin-bottom: 50px;
}
.team__name,
.team__position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
}
.team__list {
    display: flex;
    margin-right: auto;
}
.team__dscr {
    padding: 30px 0px 30px 0px;
    background-color: var(--primary-light-bg);
}
.team__it {
    width: calc(1170 / 4 - var(--card-set-gap));
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    &:not(:nth-last-child(-n + 1)) {
        margin-right: 30px;
    }
}
.team__name {
    margin-bottom: 10px;
    color: var(--primary-light-text);
}
.team__position {
    color: var(--secondary-light-text);
    margin-bottom: 16px;
    font-weight: 400;
}