body {
    font-family: $main-font;
    font-size: 14px;
    letter-spacing: 0.03em;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @include mq(mobile) {
        width: 480px;
    }
    @include mq(tablet) {
        width: 768px;
    }
    @include mq(desktop) {
        width: 1200px;
    }
}
.features__title,
.projects__title,
.team__title,
.clients__title,
.portfolio__title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--primary-light-text);
}

.features__title,
.portfolio__title {
    visibility: hidden;
    height: 0px;
}