h1,
h2,
h3,
p {
    margin: 0;
}

ul,
li {
    padding: 0;
    margin: 0;
}
.header__list,
.header__contacts,
.feature__list,
.projects__list,
.team__list,
.footer__list,
.footer__contacts,
.portfolio__list,
.portfolio__menu,
.menu__list,
.menu__contacts,
.menu__sonetlinks {
    list-style: none;
}