.header__conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    @media screen and (min-width: 768px){
        padding-top: 21px;
        padding-bottom: 21px;
    }
}
.header__nav {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        
    }
}
.menu__btn {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    z-index: 99;

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.icon__menu {
    opacity: 1;

    &:hover,
    &:focus {
        fill: #2196F3;
        cursor: pointer;
    }
}
.menu__btn.is-active .icon__menu {
    opacity: 0;
}

.icon__cross {
    opacity: 0;

}
.menu__btn.is-active .icon__cross {
    opacity: 1;

    &:hover,
    &:focus {
        fill: #2196F3;
        cursor: pointer;
    }
}

.header__list {
   display: flex;
   align-items: center;
}
.header__it:not(:last-child) {
        margin-right: 50px;
    }
.header__link {
    text-decoration: none;
    letter-spacing: 0.02em;
    color: var(--primary-light-text);
}
// .header {
//     border-bottom: 1px solid #ececec;
//     font-weight: 500;
//     line-height: 1.14;
//     letter-spacing: 0.02em;
//     background-color: var(--primary-light-bg);
// }
// .header__list {
//     display: flex;
//     padding-left: 0;
// }
// 
// .header__conteiner,
// .header__nav {
//     display: flex;
//     align-items: center;
// }
// .header__link {
//     position: relative;
//     display: block;
//     padding-top: 32px;
//     padding-bottom: 32px;
//     color: var(--primary-light-text);

//     transition: color var(--animation-function);
//     &:hover,
//     &:focus {
//         color: var(--akcent-color-text);
//         cursor: pointer;
//     }
//     &--current {
//         color: var(--akcent-color-text);
//     }
// }
// .header__link--current::after {
//     position: absolute;
//     bottom: -1px;
//     left: 0px;
//     content: "";
//     display: block;
//     width: 100%;
//     height: 4px;
//     background-color: var(--akcent-color-text);
//     border-radius: 2px;
// }